.container {
  width: 100%; height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.corpoUrna {
  width: 1200px; height: 500px;
  background-color: rgb(216, 216, 216);
  box-shadow: 1px 1px 5px rgba(0,0,0,.8);
  display: flex;
}
.telaArea {
  width: 60%; height: 100%;
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  align-items: center;
}
.telaArea .tela {
  width: 90%; height: 75%;
  background-color: aliceblue;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
}
.botoesArea {
  width: 40%; height: 100%;
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botoesArea .logo {
  width: 80%; height: 15%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
.botoesArea .botoes {
  width: 80%; height: 75%;
  background-color: rgb(44, 39, 39);
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.botoesArea .logo .logoImg {
  width: 25%; height: 100%;
}
.botoesArea .logo .logoImg img {
  width: 70px;
  margin-left: 10px;
}
.botoesArea .logo .justica {
  width: 50%; height: 100%;
  color: black;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}
.botoesNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 280px;
}
.number {
  width: 65px; height: 42px;
  background-color: cadetblue;
  margin: 10px;
  background-color: rgb(26, 26, 26);
  box-shadow: 1px 1px 3px black;
  font-size: 28px;
  padding: 3px;
  cursor: pointer;
}
.botoesConfir {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botoesConfir div {
  height: 45px; width: 95px;
  background-color: white;
  color: black;
  margin: 10px;
  box-shadow: 1px 1px 3px black;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}

.botoesConfir .botaoConfirma {
  height: 55px;
  background-color: rgb(0, 204, 0);
}

/* AREA DA TELA */

.areaTela {
  width: 90%; height: 90%;
}

.numbersEleitor {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.numbersEleitor div {
  width: 45px; height: 85px;
  font-size: 40px;
  padding: 8px;
  margin: 5px;
  border: 2px solid black;
  color: black;
}

/* CANDIDATO TELA */

.candidatoTela {
  width: 95%; height: 95%;
  display: flex;
  flex-wrap: wrap;
}
.candidatoInfos {
  width: 75%; height: 270px;
  border-bottom: 2px solid black;
  color: black;
  display: flex;
  flex-direction: column;
}
.candidatoImg {
  width: 25%; height: 270px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
}
.candidatoImg div {
  width: 120px; height: 150px;
  background-color: black;
  margin-top: 10px;
}
.confirmacaoInfos {
  font-size: 19px;
  color: black;
}
.candidatoInfos div {
  display: flex;
  align-items: center;
}
.numeroVoto {
  font-weight: bold;
  border: 1px solid black;
  padding: 4px;
  font-size: 18px;
  margin-left: 5px;
}
.candidatoImg .imagem img {
  width: 100%;
  height: 100%;
}

.votoFim {
  color: black;
  font-size: 50px;
  letter-spacing: 2px;
}